In [1]:
import pandas as pd

DATA_HOME = 'data/'

In [2]:
def read_csv(fil):
    return pd.read_csv(DATA_HOME + fil)

In [4]:
category_csv = read_csv('food_category.csv')
category_csv

    id  code                          description
0    1   100               Dairy and Egg Products
1    2   200                     Spices and Herbs
2    3   300                           Baby Foods
3    4   400                        Fats and Oils
4    5   500                     Poultry Products
5    6   600           Soups, Sauces, and Gravies
6    7   700          Sausages and Luncheon Meats
7    8   800                    Breakfast Cereals
8    9   900              Fruits and Fruit Juices
9   10  1000                        Pork Products
10  11  1100    Vegetables and Vegetable Products
11  12  1200                Nut and Seed Products
12  13  1300                        Beef Products
13  14  1400                            Beverages
14  15  1500       Finfish and Shellfish Products
15  16  1600          Legumes and Legume Products
16  17  1700        Lamb, Veal, and Game Products
17  18  1800                       Baked Products
18  19  1900                               Sweets
19  20  2000              Cereal Grains and Pasta
20  21  2100                           Fast Foods
21  22  2200      Meals, Entrees, and Side Dishes
22  23  2500                               Snacks
23  24  3500  American Indian/Alaska Native Foods
24  25  3600                     Restaurant Foods
25  26  4500       Branded Food Products Database
26  27  2600            Quality Control Materials
27  28  1410                  Alcoholic Beverages

In [5]:
foods = read_csv('food.csv')

In [7]:
foods['data_type'].unique()

array(['branded_food', 'sample_food', 'sub_sample_food',
       'market_acquisition', 'foundation_food',
       'agricultural_acquisition', 'survey_fndds_food', 'sr_legacy_food'],
      dtype=object)

In [8]:
foods[foods['data_type']=='sample_food']

,fdc_id,data_type,description,food_category_id,publication_date
299000,321506,sample_food,"BEANS, SNAP, CANNED, DRAINED, DEL MONTE",11.0,2019-04-01
299001,321512,sample_food,"BEANS, SNAP, CANNED, DRAINED, DEL MONTE",11.0,2019-04-01
299002,321521,sample_food,"BEANS, SNAP, CANNED, DRAINED, DEL MONTE",11.0,2019-04-01
299003,321528,sample_food,"BEANS, SNAP, CANNED, DRAINED, DEL MONTE",11.0,2019-04-01
299005,321538,sample_food,"BEANS, SNAP, CANNED, DRAINED, DEL MONTE",11.0,2019-04-01
...,...,...,...,...,...
318472,329279,sample_food,"Cheese, string (low-moisture, part-skim mozzar...",1.0,2019-04-01
318473,329295,sample_food,"Cheese, string (low-moisture, part-skim mozzar...",1.0,2019-04-01
318474,329316,sample_food,"Cheese, string (low-moisture, part-skim mozzar...",1.0,2019-04-01
318475,329331,sample_food,"Cheese, string (low-moisture, part-skim mozzar...",1.0,2019-04-01
318476,329346,sample_food,"Cheese, string (low-moisture, part-skim mozzar...",1.0,2019-04-01

In [10]:
foods[foods['data_type']=='sub_sample_food']

,fdc_id,data_type,description,food_category_id,publication_date
299004,321535,sub_sample_food,Beans snap canned drained,11.0,2019-04-01
299006,321545,sub_sample_food,Beans snap canned drained,11.0,2019-04-01
299015,322896,sub_sample_food,Hot dogs beef,7.0,2019-04-01
299016,322897,sub_sample_food,Hot dogs beef,7.0,2019-04-01
299018,322906,sub_sample_food,Hot dogs beef,7.0,2019-04-01
...,...,...,...,...,...
318654,333131,sub_sample_food,"Minerals, Tomatoes, diced, canned, STORE BRAND...",11.0,2019-04-01
318655,333132,sub_sample_food,"Proximates, Tomatoes, diced, canned, STORE BRA...",11.0,2019-04-01
318656,333178,sub_sample_food,"Minerals, Tomatoes, diced, canned, STORE BRAND...",11.0,2019-04-01
318657,333179,sub_sample_food,"Proximates, Tomatoes, diced, canned, STORE BRA...",11.0,2019-04-01
318658,333180,sub_sample_food,"Sugars, Tomatoes, diced, canned, STORE BRAND, ...",11.0,2019-04-01